[Unit]
Description=Lighthouse Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/lh-erigon-beacon.conf
ExecStart=/usr/bin/lighthouse-kl $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

