[Unit]
Description=Lighthouse Validator chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/lh-neth-validator.conf
ExecStart=/usr/bin/lighthouse-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

