[Unit]
Description=Ethereum reth client daemon (Sepolia)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/reth-sepolia.conf
ExecStart=/usr/bin/reth $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
KillSignal=SIGTERM 
TimeoutStopSec=600
SyslogIdentifier=reth-sepolia
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target