[Unit]
Description=Nimbus Execution client daemon (Hoodi)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-execution-hoodi.conf
ExecStart=/usr/bin/nimbus_execution_client $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=nimbus-execution-hoodi
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target