[Unit]
Description=Nimbus Proxy daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-proxy.conf
ExecStart=/usr/bin/nimbus_verified_proxy $ARGS
Restart=always
User=ethereum
SyslogIdentifier=nimbus-verirified-proxy

[Install]
WantedBy=multi-user.target