[Unit]
Description=Nimbus Execution client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-execution-sepolia.conf
ExecStart=/usr/bin/nimbus_execution_client $ARGS
Restart=always
User=ethereum
SyslogIdentifier=nimbus-execution-sepolia

[Install]
WantedBy=multi-user.target