[Unit]
Description=Ethereum Ethrex client daemon (Mainnet)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/ethrex.conf
ExecStart=/usr/bin/ethrex $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=ethrex
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target