[Unit]
Description=Ethereum Ethrex client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ethrex-sepolia.conf
ExecStart=/usr/bin/ethrex $ARGS
Restart=always
User=ethereum
SyslogIdentifier=ethrex-sepolia
[Install]
WantedBy=multi-user.target