[Unit]
Description=Ethereum Teku client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/teku-neth.conf
ExecStart=/usr/bin/teku-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
