[Unit]
Description=Maru Client (Sepolia)
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/maru-sepolia.conf
ExecStart=/usr/bin/maru $ARGS
Restart=always
RestartSec=5
User=ethereum
Type=simple

[Install]
WantedBy=multi-user.target
