[Unit]
Description=Ethereum reth client daemon by Paradigm team
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/op-reth.conf
ExecStart=/usr/bin/op-reth $ARGS
Restart=always
User=ethereum
KillSignal=SIGTERM 
TimeoutStopSec=600
SyslogIdentifier=op-reth


[Install]
WantedBy=multi-user.target

