# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 4

# Makefiles require tabs
[Makefile]
indent_style = tab
indent_size = 4

# Python files
[*.py]
indent_style = space
indent_size = 4

# YAML, JSON, JS
[*.{yml,yaml,json,js,md}]
indent_style = space
indent_size = 2

# RST files
[*.rst]
indent_style = space
indent_size = 3
