.vscode
fpm-package-builder/.vagrant/
fpm-package-builder/packages/
image-creation-tool/ubuntu/*.img
image-creation-tool/ubuntu/*.zip
image-creation-tool/ubuntu/*.xz
image-creation-tool/ubuntu-rescue/*.img
image-creation-tool/ubuntu/manifest.txt
.DS_Store