[Unit]
Description=ropsten git sync service
[Service]
ExecStart=/bin/sh -c "git  -C /etc/ethereum/ropsten/merge-testnets/ pull"
RemainAfterExit=yes
[Install]
WantedBy=sysinit.target