[Unit]
Description=Linea Sepolia Managed Besu Execution Client
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/linea-sepolia.conf
ExecStart=/usr/bin/linea-besu $ARGS
Restart=always
RestartSec=5
User=ethereum
Type=simple

[Install]
WantedBy=multi-user.target
