[Unit]
Description=JSON Exporter

Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/json_exporter --config.file /etc/ethereum/json_exporter.yml

Restart=always
RestartSec=5
User=ethereum

[Install]
WantedBy=multi-user.target



