[Unit]
Description=Prysm Validator Client (Gnosis)
After=network-online.target
Wants=network-online.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/prysm-validator-gnosis.conf
ExecStart=/usr/bin/prysm validator $ARGS
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000
LimitNPROC=65536
SyslogIdentifier=prysm-validator-gnosis

[Install]
WantedBy=multi-user.target
