[Unit]
Description=Prysm Validator daemon (Holesky-mev)

After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/prysm-validator-holesky-mev.conf
ExecStart=/usr/bin/validator $ARGS

Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=prysm-validator-holesky-mev

LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
