[Unit]
Description=Prysm Validator daemon (Mainnet)

After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/prysm-validator.conf
ExecStart=/usr/bin/validator $ARGS

Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=prysm-validator

LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
