[Unit]
Description=Prysm Beacon Chain Daemon (Gnosis)
After=network-online.target
Wants=network-online.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/prysm-beacon-gnosis.conf
ExecStart=/usr/bin/prysm beacon-chain $ARGS
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000
LimitNPROC=65536
SyslogIdentifier=prysm-beacon-gnosis

[Install]
WantedBy=multi-user.target
