[Unit]
Description=Ethereum geth client daemon by The Ethereum Foundation
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/geth-teku.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.geth-teku/kiln/datadir-teku && /usr/bin/geth-ks init /etc/ethereum/kiln/merge-testnets/kiln/genesis.json  --datadir "/home/ethereum/.geth-teku/kiln/datadir-teku"'
ExecStart=/usr/bin/geth-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
