[Unit]
Description=Ethereum geth client daemon by The Ethereum Foundation
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/geth-nim.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.geth-nim/ropsten/datadir-nim && /usr/bin/geth-rp init /etc/ethereum/ropsten/merge-testnets/ropsten/genesis.json  --datadir "/home/ethereum/.geth-nim/ropsten/datadir-nim"'
ExecStart=/usr/bin/geth-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
