[Unit]
Description=Ethereum geth client daemon by The Ethereum Foundation
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/geth-lh.conf
ExecStart=/usr/bin/geth-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
