[Unit]
Description=Ethereum geth client daemon by The Ethereum Foundation
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/geth.conf
ExecStart=/usr/bin/geth $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

