[Unit]
Description=Grandine Validator client daemon (Sepolia-mev)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/grandine-validator-sepolia-mev.conf
ExecStart=/usr/bin/grandine $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=grandine-validator-sepolia-mev
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target