[Unit]
Description=Grandine Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/grandine-beacon-hoodi.conf
ExecStart=/usr/bin/grandine $ARGS
Restart=always
User=ethereum
SyslogIdentifier=grandine-beacon-hoodi

[Install]
WantedBy=multi-user.target

