[Unit]
Description=Grandine Validator client daemon (Sepolia)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/grandine-validator-sepolia.conf
ExecStart=/usr/bin/grandine $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=grandine-validator-sepolia
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target