[Unit]
Description=Ethereum Teku client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/teku-besu.conf
ExecStart=/usr/bin/tesu-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target