[Unit]
Description=Obol DVT Charon Relay Service for Ethereum Mainnet
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
EnvironmentFile=/etc/ethereum/dvt/charon-relay.conf
WorkingDirectory=/home/ethereum
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/charon relay $ARGS
Type=simple
User=ethereum
SyslogIdentifier=charon
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
