[Unit]
  Description=Obol DVT Charon Service for Ethereum Mainnet
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  EnvironmentFile=/etc/ethereum/dvt/charon.conf
  WorkingDirectory=/home/ethereum
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/charon run $ARGS
  Type=simple
  User=ethereum
  TimeoutSec=0
  SyslogIdentifier=charon

[Install]
  WantedBy=multi-user.target
