[Unit]
Description=Grandine Validator Client (Obol)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/grandine-validator-obol.conf
ExecStart=/usr/bin/grandine $ARGS
Restart=always
User=ethereum
SyslogIdentifier=grandine-validator-obol
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
