[Unit]
Description=Lighthouse Validator chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/lighthouse-validator-hoodi-obol.conf
ExecStart=/usr/bin/lighthouse $ARGS
Restart=always
User=ethereum
SyslogIdentifier=lighthouse-validator-hoodi-obol

[Install]
WantedBy=multi-user.target

