[Unit]
Description=Lodestar Validator Client (Obol)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/lodestar-validator-obol.conf
ExecStart=/usr/bin/lodestar  $ARGS
Restart=always
User=ethereum
SyslogIdentifier=lodestar-validator-obol

[Install]
WantedBy=multi-user.target