[Unit]
Description=Lodestar Validator Client (Obol Hoodi)
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/lodestar-validator-hoodi-obol.conf
ExecStart=/usr/bin/lodestar  $ARGS
Restart=always
User=ethereum
SyslogIdentifier=lodestar-validator-hoodi-obol

[Install]
WantedBy=multi-user.target
