[Unit]
Description=Prysm Validator Client (Obol Lido)
After=network.target
Requires=prysm-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/dvt/prysm-validator-obol-lido.conf
ExecStart=/usr/bin/validator $ARGS
Restart=always
User=ethereum
SyslogIdentifier=prysm-validator-obol-lido

[Install]
WantedBy=multi-user.target

