[Unit]
Description=Prysm Validator Client (Obol Hoodi)
After=network-online.target
Wants=network-online.target
Requires=prysm-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/dvt/prysm-validator-hoodi-obol.conf
ExecStart=/usr/bin/validator $ARGS
Restart=always
User=ethereum
SyslogIdentifier=prysm-validator-hoodi-obol

[Install]
WantedBy=multi-user.target

