[Unit]
Description=Teku Validator Client (Obol)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/teku-validator-obol.conf
ExecStart=/usr/bin/teku $ARGS
Restart=always
User=ethereum
SyslogIdentifier=teku-validator-obol

[Install]
WantedBy=multi-user.target
