[Unit]
Description=Ethereum Teku client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/dvt/teku-validator-obol.conf
ExecStart=/usr/bin/teku $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
