[Unit]
Description=Nethermind Ethereum Daemon (Hoodi)
After=network-online.target
Wants=network-online.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/nethermind-hoodi.conf
ExecStart=/usr/bin/nethermind $ARGS
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000
LimitNPROC=65536
SyslogIdentifier=nethermind-hoodi

[Install]
WantedBy=multi-user.target