[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/nethermind-holesky.conf
ExecStart=/usr/bin/nethermind $ARGS
Restart=on-failure
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000

[Install]
WantedBy=default.target
