[Unit]
Description=Nethermind Ethereum ECL Daemon (Optimism Sepolia)
After=network-online.target
Wants=network-online.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/nethermind-op-sepolia.conf
ExecStart=/usr/bin/nethermind $ARGS
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000
LimitNPROC=65536
SyslogIdentifier=nethermind-op-sepolia

[Install]
WantedBy=multi-user.target
