[Unit]
Description=Nimbus Validator client (Sepolia-mev)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-validator-sepolia-mev.conf
ExecStart=/usr/bin/nimbus_validator_client $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=nimbus-validator-sepolia-mev
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target