[Unit]
Description=Nimbus Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-beacon-holesky.conf
ExecStart=/usr/bin/nimbus_beacon_node $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

