[Unit]
Description=Nimbus Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-validator-holesky.conf
ExecStart=/usr/bin/nimbus_validator_client $ARGS
Restart=always
User=ethereum
SyslogIdentifier=nimbus-validator-holesky

[Install]
WantedBy=multi-user.target

