[Unit]
Description=Nimbus Beacon chain daemon (Sepolia)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/nimbus-beacon-sepolia.conf
ExecStart=/usr/bin/nimbus_beacon_node $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=nimbus-beacon-sepolia
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target