[Unit]
Description=Ethereum Erigon client daemon
After=network.target

[Service]
Environment="GODEBUG=netdns=go"
EnvironmentFile=/etc/ethereum/erigon-holesky.conf
ExecStart=/usr/bin/erigon $ARGS
Restart=always
User=ethereum
SyslogIdentifier=erigon-holesky

[Install]
WantedBy=multi-user.target

