[Unit]
Description=Mev boost client daemon
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/mev-boost.conf
ExecStart=/usr/bin/mev-boost $ARGS
Restart=always
RestartSec=5
User=ethereum

[Install]
WantedBy=multi-user.target



