[Unit]
Description=Lighthouse Validator client daemon (Hoodi-mev)
# Waits for a full network connection
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/lighthouse-validator-hoodi-mev.conf
ExecStart=/usr/bin/lighthouse $ARGS
# This policy will auto-retry if the beacon isn't ready
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=lighthouse-validator-hoodi-mev
# Increased resource limits
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target