[Unit]
Description=Madara Starknet Client
After=network.target

[Service]
Type=simple
User=ethereum
Group=ethereum  
EnvironmentFile=/etc/ethereum/madara.conf
ExecStart=/usr/bin/madara $MADARA_OPTS
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
