[Unit]
Description=Ethereum Besu client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/besu.conf
Environment="JAVA_OPTS=-Xmx5g"
ExecStart=/usr/bin/besu $ARGS
Restart=always
User=ethereum
SyslogIdentifier=besu

[Install]
WantedBy=multi-user.target
