[Unit]
Description=Ethereum Besu client daemon (Sepolia)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/besu-sepolia.conf
Environment="JAVA_OPTS=-Xmx5g"
ExecStart=/usr/bin/besu $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=besu-sepolia
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target