[Unit]
Description=Besu Ethereum Daemon (Gnosis)
After=network-online.target
Wants=network-online.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/besu-gnosis.conf
ExecStart=/usr/bin/besu $ARGS
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000
LimitNPROC=65536
SyslogIdentifier=besu-gnosis

[Install]
WantedBy=multi-user.target
