[Unit]
Description=IPFS daemon
After=network.target

[Service]
EnvironmentFile=/etc/ipfs/ipfs.conf
ExecStartPre=-/usr/bin/ipfs init
ExecStart=/usr/bin/ipfs $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

