[Unit]
Description=Ethereum Besu client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/besu-lh.conf
ExecStart=/usr/bin/besu-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
