[Unit]
Description=Ethereum Besu client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/besu-nim.conf
ExecStart=/usr/bin/besu-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
