[Unit]
Description=Rocketpool Node
After=geth.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpoold --config /home/ethereum/.rocketpool/config.yml --settings /home/ethereum/.rocketpool/settings.yml node

[Install]
WantedBy=multi-user.target
