[Unit]
Description=Lodestar Beacon chain daemon (Sepolia-MEV)
# Waits for a full network connection
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/lodestar-beacon-sepolia-mev.conf
ExecStart=/usr/bin/lodestar $ARGS
# Reliable restart policy
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=lodestar-beacon-sepolia-mev
# Increased resource limits
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
