[Unit]
Description=Lodestar Validator daemon (Sepolia)
# Waits for a full network connection
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/lodestar-validator-sepolia.conf
ExecStart=/usr/bin/lodestar $ARGS
# This policy will auto-retry if the beacon isn't ready
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=lodestar-validator-sepolia
# Increased resource limits
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
