[Unit]
Description=Ethereum configuration directory sync service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/ethereumonarm-config-sync.sh