[Unit]
Description=Teku Validator Client (Lido)
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ls/teku-validator-lido.conf
ExecStart=/usr/bin/teku $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
