[Unit]
Description=Commit-Boost client daemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/commit-boost /etc/ethereum/commit-boost.conf
Restart=always
RestartSec=5
User=ethereum

[Install]
WantedBy=multi-user.target
