[Unit]
Description=Commit-Boost client daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment="CB_CONFIG=/etc/ethereum/commit-boost.conf"
ExecStart=/usr/bin/commit-boost
Restart=always
RestartSec=5
User=ethereum

[Install]
WantedBy=multi-user.target
