[Unit]
Description=Statusd daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/statusd.conf
ExecStart=/usr/bin/statusd $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
