[Unit]
Description=Akula client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/akula.conf
ExecStart=/usr/bin/akula $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

