[Unit]
Description=Ethereum Data Backup using rclone
# This ensures the backup only runs when the network is available
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# Use the full path to your script. The -l journal flag is recommended.
ExecStart=/usr/sbin/eoa_rclone -l journal