[Unit]
  Description=bor
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  EnvironmentFile=/etc/ethereum/l2geth.conf
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/l2geth $ARGS
  Type=simple
  User=ethereum
  TimeoutStopSec=120
  SyslogIdentifier=l2geth

[Install]
  WantedBy=multi-user.target
