[Unit]
  Description=Optimism op-node Service
[Service]
  WorkingDirectory=/home/ethereum
  EnvironmentFile=/etc/ethereum/op-node.conf
  ExecStart=/usr/bin/op-node $ARGS
  Restart=on-failure
  RestartSec=5s
  User=ethereum
[Install]
  WantedBy=multi-user.target
