[Unit]
Description=Prysm Validator daemon
After=network.target
Requires=prysm-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/ls/prysm-validator-hoodi-lido.conf
ExecStart=/usr/bin/validator $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

