[Unit]
Description=Nimbus Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/nim-erigon.conf
ExecStart=/usr/bin/nimbus_beacon_node-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

