[Unit]
Description=Nimbus Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kintsugi/nim-geth.conf
ExecStart=/usr/bin/nimbus_beacon_node-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

