[Unit]
Description=Prysm Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/pry-besu-beacon.conf
ExecStart=/usr/bin/beacon-chain-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

