[Unit]
Description=Prysm Validator daemon
After=network.target
Requires=pry-geth-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/ropsten/pry-geth-validator.conf
ExecStart=/usr/bin/validator-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

