[Unit]
Description=Prysm Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kintsugi/pry-geth-beacon.conf
ExecStart=/usr/bin/beacon-chain-ks $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

