[Unit]
Description=Prysm Validator daemon
After=network.target
Requires=pry-besu-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/kiln/pry-besu-validator.conf
ExecStart=/usr/bin/validator-kl $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

