[Unit]
Description=Prysm Validator daemon
After=network.target
Requires=prysm-beacon-prater.service

[Service]
EnvironmentFile=/etc/ethereum/prysm-validator-prater.conf
ExecStart=/usr/bin/validator $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

