[Unit]
Description=Prysm slasher daemon
After=network.target
Requires=prysm-beacon.service

[Service]
EnvironmentFile=/etc/ethereum/prysm-slasher.conf
ExecStart=/usr/bin/slasher $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target

