[Unit]
Description=Arbitrum Nitro client
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/nitro.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.arbitrum/arb1/nitro && mkdir -p /home/ethereum/.arbitrum/arb1/nitro'
ExecStart=/usr/bin/nitro $ARGS
Restart=always
User=ethereum
KillSignal=SIGTERM 
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target

