[Unit]
Description=Ethereum erigon client daemon 
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/erigon-lh.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.erigon-lh/kiln/datadir-lh && /usr/bin/erigon-kl init /etc/ethereum/kiln/merge-testnets/kiln/genesis.json  --datadir "/home/ethereum/.erigon-lh/kiln/datadir-lh"'
ExecStart=/usr/bin/erigon-kl $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
by The Ethereum Foundation