[Unit]
Description=Ethereum erigon client
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/ropsten/erigon-nim.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.erigon-nim/ropsten/datadir-nim && /usr/bin/erigon-rp init /etc/ethereum/ropsten/merge-testnets/ropsten-beacon-chain/genesis.json  --datadir "/home/ethereum/.erigon-nim/ropsten/datadir-nim"'
ExecStart=/usr/bin/erigon-rp $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
