[Unit]
Description=Ethereum erigon client
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/kiln/erigon-nim.conf
ExecStartPre=-/bin/bash -c '/usr/bin/test ! -d /home/ethereum/.erigon-nim/kiln/datadir-nim && /usr/bin/erigon-kl init /etc/ethereum/kiln/merge-testnets/kiln/genesis.json  --datadir "/home/ethereum/.erigon-nim/kiln/datadir-nim"'
ExecStart=/usr/bin/erigon-kl $ARGS
Restart=always
User=ethereum

[Install]
WantedBy=multi-user.target
