[Unit]
Description=Teku Beacon chain daemon (Sepolia-mev)
After=network-online.target
Wants=network-online.target

[Service]
Environment="JAVA_OPTS=-Xmx5g"
EnvironmentFile=/etc/ethereum/teku-beacon-sepolia-mev.conf
ExecStart=/usr/bin/teku $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=teku-beacon-sepolia-mev
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target