[Unit]
Description=Teku Validator daemon (Hoodi)
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/ethereum/teku-validator-hoodi.conf
ExecStart=/usr/bin/teku $ARGS
Restart=on-failure
RestartSec=5
User=ethereum
SyslogIdentifier=teku-validator-hoodi
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target