[Unit]
Description=Ethereum Teku client daemon
After=network.target

[Service]
EnvironmentFile=/etc/ethereum/teku-validator-holesky.conf
ExecStart=/usr/bin/teku $ARGS
Restart=always
User=ethereum
SyslogIdentifier=teku-validator-holesky

[Install]
WantedBy=multi-user.target
