[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/ropsten/neth-pry.conf
ExecStart=/usr/bin/nethermind-rp $ARGS
Restart=on-failure
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000

[Install]
WantedBy=default.target
