[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=ethereum
WorkingDirectory=/home/ethereum/.nethermind
EnvironmentFile=/etc/ethereum/nethermind.conf
ExecStart=/usr/bin/nethermind $ARGS
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target
