[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=ethereum
EnvironmentFile=/etc/ethereum/kiln/neth-nim.conf
ExecStart=/usr/bin/nethermind-ks $ARGS
Restart=on-failure
WorkingDirectory=/home/ethereum
LimitNOFILE=1000000

[Install]
WantedBy=default.target
